<!-- recordatorios.component.html -->
<div class="recordatorios-container">
  <h2 class="title">Lista de Recordatorios</h2>

  <!-- Mostrar lista de recordatorios -->
  <div *ngFor="let recordatorio of recordatorios; let i = index" class="recordatorio-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <!-- Si estamos editando este recordatorio, mostrar el campo de entrada -->
          <ng-container *ngIf="recordatorioEditando === i; else mostrarTitulo">
            <mat-form-field>
              <input matInput [(ngModel)]="recordatorio.titulo" placeholder="Nuevo título">
            </mat-form-field>
          </ng-container>
          <ng-template #mostrarTitulo>{{ recordatorio.titulo }}</ng-template>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <!-- Si estamos editando este recordatorio, mostrar el campo de entrada para la descripción -->
          <ng-container *ngIf="recordatorioEditando === i; else mostrarDescripcion">
            <mat-form-field>
              <textarea matInput [(ngModel)]="recordatorio.descripcion" placeholder="Nueva descripción"></textarea>
            </mat-form-field>
          </ng-container>
          <ng-template #mostrarDescripcion>{{ recordatorio.descripcion }}</ng-template>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- Botón para marcar como completado -->
        <button mat-raised-button color="primary" (click)="marcarComoRealizado(i)" [disabled]="recordatorio.completado">
          <mat-icon *ngIf="!recordatorio.completado">check</mat-icon>
          <mat-icon *ngIf="recordatorio.completado">check_circle</mat-icon>
          {{ recordatorio.completado ? 'Completado' : '' }}
        </button>

        <!-- Botón para eliminar -->
        <button mat-raised-button color="warn" (click)="eliminarRecordatorio(i)">
          Eliminar
        </button>

        <!-- Botón para editar el recordatorio -->
        <button *ngIf="recordatorioEditando !== i" mat-raised-button color="accent" (click)="editarRecordatorio(i)">
          Editar
        </button>

        <!-- Botones de guardar y cancelar cuando se edita -->
        <ng-container *ngIf="recordatorioEditando === i">
          <button mat-raised-button color="primary" (click)="guardarEdicion(i, recordatorio.titulo, recordatorio.descripcion)">
            Guardar
          </button>
          <button mat-raised-button color="warn" (click)="cancelarEdicion()">
            Cancelar
          </button>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Botón para agregar un nuevo recordatorio -->
  <button mat-raised-button color="primary" (click)="agregarRecordatorio()">Agregar Recordatorio</button>
</div>
