<div class="home-container">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title class="title">PETRACK</mat-card-title>
        <mat-card-subtitle class="subtitle">¡Localiza a tu mascota al instante!</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div class="mascota-info">
          <p><strong>Nombre:</strong> {{ mascota.nombre }}</p>
          <p><strong>Ubicación actual:</strong> {{ mascota.ubicacion }}</p>
        </div>
  
        <!-- Contenedor del mapa -->
        <div class="map-container" id="map"></div>
      </mat-card-content>
  
      <mat-card-actions>
        <button (click)="alertarUbicacion()">Alertar ubicación</button>
      </mat-card-actions>
    </mat-card>
  </div>
  