/* Estilo general para la página */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Ocupa toda la altura de la pantalla */
  background-color: #121212;  /* Fondo negro */
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;  /* Fuente moderna y limpia */
}

/* Estilo para la tarjeta (mat-card) */
.home-card {
  width: 100%;
  max-width: 700px;
  background-color: #1c1c1c;  /* Fondo gris oscuro para la tarjeta */
  color: #ffffff;  /* Texto blanco para mejor legibilidad */
  border-radius: 12px;  /* Bordes redondeados */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);  /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Animaciones suaves */
}

/* Animación de la tarjeta */
.home-card:hover {
  transform: translateY(-10px);  /* Eleva la tarjeta al pasar el ratón */
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);  /* Aumenta la sombra en hover */
}

/* Títulos dentro de la tarjeta */
.title {
  font-size: 32px;
  font-weight: 600;
  color: #fafcff;  /* Blanco suave */
  margin-bottom: 8px;
  text-align: left;
}

.subtitle {
  font-size: 18px;
  color: #fafcff;  /* Blanco suave */
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para el contenido de la tarjeta */
.mascota-info {
  font-size: 16px;
  color: #ffffff;  /* Blanco para el texto */
  margin: 20px 0;
}

.mascota-info p {
  margin: 8px 0;
}

.mascota-info strong {
  font-weight: 500;
  color: #ffffff;  /* Blanco */
}

/* Estilo para el contenedor del mapa */
.map-container {
  margin-top: 20px;
  background-color: #333333;  /* Gris oscuro */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);  /* Sombra suave */
  width: 100%;
  height: 250px;  /* Ajustar el tamaño del mapa */
  min-height: 250px;
}

@media (max-width: 768px) {
  .map-container {
    height: 200px;  /* Ajustar altura para pantallas pequeñas */
  }
}

/* Estilo para los botones */
button {
  margin-top: 20px;
  background-color: #00796b;  /* Azul oscuro para el botón */
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 30px;  /* Bordes redondeados */
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover para el botón */
button:hover {
  background-color: #333333;  /* Fondo gris oscuro al hacer hover */
  transform: translateY(-2px);  /* Leve elevación al hacer hover */
}
