/* Estilo básico para la barra de navegación */
nav {
  background-color: #333333;  /* Gris oscuro */
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
}

nav a {
  color: #E0E0E0;  /* Gris claro */
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #444444;  /* Gris medio */
  color: #FFFFFF;  /* Blanco al hacer hover */
  border-radius: 5px;
}

nav .active {
  background-color: #5A5A5A;  /* Gris más claro */
  color: white;
  border-radius: 5px;
}

nav .menu-icon {
  display: none;
  font-size: 30px;
  color: #E0E0E0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    box-shadow: none;  /* Elimina la sombra en pantallas pequeñas */
  }

  /* Ocultamos los enlaces por defecto */
  nav a {
    display: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 18px;
    border-top: 1px solid #444444;
  }

  nav a:first-child {
    border-top: none;  /* El primer enlace no tiene borde superior */
  }

  /* Mostrar el icono de menú en pantallas pequeñas */
  nav .menu-icon {
    display: block;
  }

  /* Cuando el menú tiene la clase 'active', mostramos los enlaces */
  nav.active a {
    display: block;
  }

  /* Rotación del icono del menú */
  nav .menu-icon.active {
    transform: rotate(90deg);
  }

  /* Agregar sombra cuando el menú está desplegado */
  nav.active {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
