<nav>
  <!-- Icono de menú hamburguesa (aparece en pantallas pequeñas) -->
  <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>

  <!-- Enlaces de navegación -->
  <a routerLink="/home" routerLinkActive="active">Inicio</a>
  <a routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <a routerLink="/recomendaciones" routerLinkActive="active">Recomendaciones</a>
  <a routerLink="/recordatorios" routerLinkActive="active">Recordatorios</a>
  <a routerLink="/usuario" routerLinkActive="active">Usuario</a>
</nav>

<router-outlet></router-outlet>
