<header class="app-title">Petrack</header>

<nav>
  <div class="menu-icon" (click)="toggleMenu()" >&#9776;</div>
  <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Inicio</a>
  <a routerLink="/perfil" routerLinkActive="active" (click)="closeMenu()">Perfil</a>
  <a routerLink="/recomendaciones" routerLinkActive="active" (click)="closeMenu()">Recomendaciones</a>
  <a routerLink="/recordatorios" routerLinkActive="active" (click)="closeMenu()">Recordatorios</a>
  <a routerLink="/usuario" routerLinkActive="active" (click)="closeMenu()">Usuario</a>
</nav>

<router-outlet></router-outlet>
